body {
    font-family: Helvetica;
    margin: 0;
}

button {
    border: none;
    background: transparent;
}

.back-button {
    margin-left: 6px;
    width: 80px;
    height: auto;
}

.main {
    margin-top: calc(50vh - 300px);
    margin-left: 20px;
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}